body {
	margin: 0;
	padding: 0;
	font: 14px;
	color:#464646;
	text-align: center;
    background-color: rgba(10,48,143,1.0);
    width: 100%;
	height:100%;
	background-position:center center;
	
	background-image:url(./img/bgbg.jpg);

	background-repeat: no-repeat;
	background-attachment:fixed;
}
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}



a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    color: #fefefe;
    text-decoration: underline;
}

a:active {
    color: #fff;
    text-decoration: underline;
}


.bottom {
	position: fixed;
	bottom:2px;
	z-index: 1200;
	width: 100%;
}

.top_schedule {
top:0;
  width: 100%;
    position: fixed;
    z-index: 2000;
}

.menu_btn_area {
	position: absolute;
	bottom:50px;
	width:100%;
}



/* ボタン */

.bbb {
	position:absolute;
	z-index:2000;
	bottom:70px;
	width:1000px;
}


.share {
}

.ll_tw {
	float:left;
	margin-left:140px;
}

.ll_fb {
	float:right;
	margin-right:140px;
}



.btn {
	display: block;
	text-align: center;
	border-radius: 4px;
	text-decoration:none;
	line-height:58px;
	transition: all .3s;
	-webkit-transition:all .3s;
	font-weight:bold;
	color:#fff;
}


.btn.tw {
		width:340px;
        height:58px;
			position:relative;
	z-index:2;
	background:rgba(94,169,221,1.0);
	border:2px solid rgba(94,169,221,1.0);
	colr:#fff;
}
.btn.tw:hover {
		text-decoration:none;
			background-color: rgba(94,169,221,0.7);
	border-color: rgba(94,169,221,1.0);
	color: #fff;
}


.btn.fb {
		width:340px;
        height:58px;
			position:relative;
	z-index:2;
	background:rgba(59,89,152,1.0);
	border:2px solid rgba(59,89,152,1.0);
	colr:#fff;
}


.btn.fb:hover {
		text-decoration:none;
			background-color: rgba(59,89,152,0.7);
	border-color: rgba(59,89,152,1.0);
	color: #fff;
}

.btn.shop {
		width:400px;
		margin:20px  auto 0px auto;
        height:58px;
			position:relative;
	z-index:2;
	background:rgba(244,61,61,1);
	border:2px solid rgba(244,61,61,1);
	colr:#fff;
}


.btn.shop:hover {
			text-decoration:none;
			background:rgba(244,61,61,0.7);
	border-color: rgba(244,61,61,1);
	color: #fff;
}


.btn.tw:active {
		text-decoration:none;
}

.btn.fb:active {
		text-decoration:none;
}

.btn.shop:active {
		text-decoration:none;
}








.date {
	position:absolute;
	bottom:0;
	text-align:center;
	width:100%;
}



.main_content {
	overflow: auto;
	height: 700px;
	width: 1000px;
	position: absolute;
	top:50%;
	left:50%;
	margin-top:-350px;
	margin-left: -500px;
	z-index: 1000;
}

.main_content h1 {
    position: absolute;
	margin: 0;
	width:1000px;
	height:200px;
}

.main_content h1 img {
	width:1000px;
	height:200px;
}


.code li {
    float: left;
    list-style: none;
}










/* social button */

#socialbuttons div {
  float: left;
}

.left_bottom {
    position: fixed;
    bottom: 10px;
    left:10px;
    z-index: 2000;
}

.twitter {
	float: left;
	margin-left:10px;
}





/* small */

.bottom small {
	font-size:11px;
	color:rgba(255,255,255,0.6);
	text-shadow:0 0 1px 1px rgba(0,0,0,0.3);
	font-style:italic;
}











/* ここからshop */

.wrapper {
	width:96%;
	background:rgba(255,255,255,0.8);
	margin:10px auto;
	border-radius:4px;
	color:#464646;
}
/* Caution! Ensure accessibility in print and other media types... */
@media projection, screen { /* Use class for showing/hiding tab content, so that visibility can be better controlled in different media types... */
    .ui-tabs-hide {
        display: none;
    }
}

/* Hide useless elements in print layouts... */
@media print {
    .ui-tabs-nav {
        display: none;
    }
}

/* Skin */
.ui-tabs-nav, .ui-tabs-panel {
    font-size: 14px;
    color:#464646;
}
.ui-tabs-nav {
    list-style: none;
    margin: 0;
    padding:0;
    background:rgba(255,255,255,0.6);
    border-radius:3px 3px 0px 0px;
}
.ui-tabs-nav:after { /* clearing without presentational markup, IE gets extra treatment */
    display: block;
    clear: both;
    content: " ";
}
.ui-tabs-nav li {
    float: left;
    margin: 0 0 0 0px;
    width:20%;
    font-size:18px;
}
.ui-tabs-nav a, .ui-tabs-nav a span {
    display: block;
    background: url(tab.png) no-repeat;
		padding:14px 0px 10px 0px;
}
.ui-tabs-nav a {
    margin: 1px 0 0; /* position: relative makes opacity fail for disabled tab in IE */
    padding-left: 0;
    color: #27537a;
	display:block;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    white-space: nowrap; /* required in IE 6 */    
    outline: 0; /* prevent dotted border in Firefox */
}

.ui-tabs-nav a:hover {
    background:rgba(0,0,0,0.2);
}

.ui-tabs-nav .ui-tabs-selected a {
    position: relative;
    top: 1px;
    z-index: 2;
    margin-top: 0;
    color: #000;
}
.ui-tabs-nav a span {
    width: 64px; /* IE 6 treats width as min-width */
    min-width: 64px;
    height: 18px; /* IE 6 treats height as min-height */
    min-height: 18px;
    padding-top: 6px;
    padding-right: 0;
}
*>.ui-tabs-nav a span { /* hide from IE 6 */
    width: auto;
    height: auto;
}
.ui-tabs-nav .ui-tabs-selected a span {
    padding-bottom: 1px;
}
.ui-tabs-nav .ui-tabs-selected a, .ui-tabs-nav a:hover, .ui-tabs-nav a:focus, .ui-tabs-nav a:active {
    background-position: 100% -150px;
}
.ui-tabs-nav a, .ui-tabs-nav .ui-tabs-disabled a:hover, .ui-tabs-nav .ui-tabs-disabled a:focus, .ui-tabs-nav .ui-tabs-disabled a:active {
    background-position: 100% -100px;
}
.ui-tabs-nav .ui-tabs-selected a span, .ui-tabs-nav a:hover span, .ui-tabs-nav a:focus span, .ui-tabs-nav a:active span {
    background-position: 0 -50px;
}
.ui-tabs-nav a span, .ui-tabs-nav .ui-tabs-disabled a:hover span, .ui-tabs-nav .ui-tabs-disabled a:focus span, .ui-tabs-nav .ui-tabs-disabled a:active span {
    background-position: 0 0;
}
.ui-tabs-nav .ui-tabs-selected a:link, .ui-tabs-nav .ui-tabs-selected a:visited, .ui-tabs-nav .ui-tabs-disabled a:link, .ui-tabs-nav .ui-tabs-disabled a:visited { /* @ Opera, use pseudo classes otherwise it confuses cursor... */
    cursor: text;
}
.ui-tabs-nav a:hover, .ui-tabs-nav a:focus, .ui-tabs-nav a:active,
.ui-tabs-nav .ui-tabs-deselectable a:hover, .ui-tabs-nav .ui-tabs-deselectable a:focus, .ui-tabs-nav .ui-tabs-deselectable a:active { /* @ Opera, we need to be explicit again here now... */
    cursor: pointer;
}
.ui-tabs-disabled {
    opacity: .4;
    filter: alpha(opacity=40);
}
.ui-tabs-panel {
    border-top: 1px solid #97a5b0;
    padding: 1em 8px;
    background: rgba(255,255,255,0.1); /* declare background color for container to avoid distorted fonts in IE while fading */
}
.ui-tabs-loading em {
    padding: 0 0 0 20px;
    background: url(loading.gif) no-repeat 0 50%;
}

/* Additional IE specific bug fixes... */
* html .ui-tabs-nav { /* auto clear, @ IE 6 & IE 7 Quirks Mode */
    display: inline-block;
}
*:first-child+html .ui-tabs-nav  { /* @ IE 7 Standards Mode - do not group selectors, otherwise IE 6 will ignore complete rule (because of the unknown + combinator)... */
    display: inline-block;
}






